<div class="col-md-4 col-sm-6 col-xs-12 projectTile"
    onclick="window.location = '/projects/<%=project.url %>'">
  
  <% if(project.photos && project.photos.length){ %>
    <div style="max-height:250px;overflow-y:hidden;position:relative;">
      <div class="bgPhotos slide-show" id="projectphotos<%=project.projectid %>">
        <% project.photos.forEach(function(photo){ %>
          <img  class="projPhoto slide" src="/photos/<%= photo.url %>" style="max-width:100%;" />
        <% }) %>
      </div>
      <div class="photoCaptions slide-show" id="projectcaptions<%=project.projectid %>">
        <% project.photos.forEach(function(photo){ %>
          <div class="slide photoCaptionContainer" style="height:0px;">
            <%= photo.title %> -
            <%= photo.caption %>
          </div>
        <% }) %>
      </div>
      <div class="photoOverlay">
        <div class="projectOverlayText">
          <div class="projectTitle">
            <%= project.name %>
          </div>
          <div class="projectTeaser">
            <%= project.teaser %>
          </div>
        </div>
        <div class="">
        </div>
      </div>
    </div>
  <% } %>
  <div class="hidden-lg hidden-md" style="width:100%;text-align:center;font-style:italic;">
    <%=project.name%>
  </div>
</div>