<div class="col-md-4 col-sm-6 col-xs-12">
  <h1><%= project.name %></h1>
  <% if(project.photos && project.photos.length){ %>
    <div class="bgPhotos" id="projectphotos-<%=project.projectid %>">
      <% project.photos.forEach(function(photo){ %>
        <div class="projectTilePhoto" style="background-image: url('/photos/<%= photo.url %>')" >
          <%= photo.caption %>
        </div>
      <% }) %>
    </div>
      <div style="z-index:100;">
        <%= project.teaser %>
      </div>
  <% } %>
</div>