<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>ICDesign - <%= project.name %></title>
    <link rel="shortcut icon" href="/ICDFavicon.png" type="image/x-icon">
    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->
    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--endbower-->
    <!--inject:css-->
    <link rel="stylesheet" href="/css/style.css">
    <!--endinject-->
    <!--inject:js-->
    <script src="/js/script.js"></script>
    <!--endinject-->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header role="banner">
      <% include ../common/header %>
    </header>
      <% if(bannerPhoto){ %>
        <div class="bannerPhotoContainer">
          <img src="/photos/<%= bannerPhoto.url %>" class="bannerPhoto" />
          <div class="bannerOverlay">
            <div class="container">
              <div class="row">
                <div class="col-sm-12" style="height:130px;">
                  <div class="bannerTitle">
                    <div>
                      <h2><%= project.name %></h2>
                      <%=project.teaser %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <% if(!bannerPhoto){ %>
            <h2><%= project.name %></h2>
          <% } %>
          <div class="projectDescription">
            <%= project.description %>
          </div>
          <% if(tilePhotos && tilePhotos.length){ %>
            <% tilePhotos.forEach(function(photo){ %>
              <% include ./phototile %>
            <% }) %>
          <% } %>
        </div>
      </div>
    </div>
    <footer>
      <% include ../common/footer %>
    </footer>
  </body>
</html>