<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>ICDesign - <%= project.name %></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
    <link rel="shortcut icon" href="/ICDFavicon.png" type="image/x-icon">
    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->
    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--endbower-->
    <!--inject:css-->
    <link rel="stylesheet" href="/css/style.css">
    <!--endinject-->
    <!--inject:js-->
    <script src="/js/script.js"></script>
    <!--endinject-->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body style="height:100%;width:100%;">
    <div style="width:100%;">
    <header role="banner">
      <% include ../common/header %>
    </header>
      <% if(bannerPhoto){ %>
        <div class="bannerPhotoContainer">
          <img src="/photos/<%= bannerPhoto.url %>" class="bannerPhoto" />
          <div >
            <div class="container">
              <div class="row">
                <div class="col-sm-12" style="height:130px;">
                  <div class="bannerTitle">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    <div class="row">
      <div class="col-sm-12 softPadding">
          <div class="projectTeaserArea">        
            <div class="projectName">
              <%= project.name %>
            </div>
            <div class="projectByline">
              <%=project.teaser %>
            </div>
          </div>
        <div class="projectDescription">
          <%= project.description %>
        </div>
      </div>
    </div>
    <div class="sticky-anchor projectPhotoArea" >
      <% pagePhotos.forEach(function(photo){ %>
        <% include photopage %>
      <% }) %>
    </div>
    <% if(project.showprocess){ %> 
      <div class="row">
        <div class="col-sm-12 softPadding">
          <div class="slateBtnContainer">
            <a onclick="$('#processModal').modal();" class="btn btn-block slateBtn">see ideation process</a>
          </div>
        </div>
      </div>
      <div class="modal fade" id="processModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Design Process</h4>
            </div>
            <div class="modal-body">
            <div id="resumeContainer">
              <object data="/photos/<%=project.processdocumenturl%>" width="100%" height="100%">
                <embed src="/photos/<%=project.processdocumenturl%>" width="100%" height="100%" />
              </object>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <script type="text/javascript">
      function resizeNecessaryDivs(){
        makeHeightOfParent('.tilePhotoContainer', '.tilePhotoRow');
        makeHeightOfParent('.tilePhotoSpacer','.tilePhotoRow');
      }
      function centerProjectText(){
        var windowHeight = $(window).height();
        $('.projSideDescription').height(windowHeight);
        var originalColor = $('.projPhotoDescription').css('color');
        $('.projPhotoDescription').css({
          'color': 'transparent !important'
        });
        $('.projPhotoDescription').show();
        $('.projSideDescription').each(function(index, elem){
          var $this = $(elem);
          var textContainer = $this.find('.projectTextContainer');
          var textHeight = textContainer.height();
          var topMargin = (windowHeight - textHeight)/2 - 15;
          textContainer.css({'margin-top':topMargin+'px'});
        });
        $('.projPhotoDescription').css({
          'color': originalColor
        });
        $('.projPhotoDescription').hide();
      }
      $(function(){
        resizeNecessaryDivs();
        centerProjectText();
        $(window).resize(function(){
          resizeNecessaryDivs();
          centerProjectText();
        });
        //prevents text flash
        $('.projectTextContainer').css('color','darkslategrey');
      });
    </script>
    <footer>
      <% include ../common/footer %>
    </footer>
    </div>
  </body>
</html>