<div class="row">
  <div class="col-md-9 col-sm-6 col-xs-12">
    <div id="contactPage">
      <img src="/photos/<%=conf.contactphoto%>" id="contactPhoto">
      <div id="contactBlurb">
        <h3><%=conf.personalname%></h3>
        <%=conf.personalblurb%>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 contactInfo">
    <h3>
      <%=conf.personalname%>
    </h3>
    <h3>
      <%=conf.contactemail%>
    </h3>
  </div>
</div>