<div class="row">
  <div class="col-sm-9 col-xs-12">
    <div id="contactPage">
      <img src="/photos/<%=conf.contactphoto%>" id="contactPhoto">
      <div id="contactBlurb">
        <h3><%=conf.personalname%></h3>
        <%=conf.personalblurb%>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12 col-xs-pull-12">
    <div class="contact-item">
      <%=conf.personalname%>
    </div>
    <div class="contact-item">
      <%=conf.contactemail%>
    </div>
  </div>
</div>