<% var photo = { photoid:0, url: '', title: '', caption:'', description: '' } %>
<form id="photoform" method="post" enctype="multipart/form-data" >
  <div class='form-group'>
    <label>Photo </label> <br />
    Recommended at least 400px width for tile photos, 1000px+ for banner photos
    <input class='form-control' type='file' name='photo'>
  </div>
  <div class='form-group'>
    <label>Title</label>
    <input id="photoTitle" class='form-control' type='text' value='<%= photo.title %>' name='title'>
  </div>
  <div class='form-group'>
    <label>Caption (brief description)</label>
    <input id="photoCaption" class='form-control' type='text'  value='<%= photo.caption %>' name='caption'>
  </div>
  <div class='form-group'>
    <label>Description (long)</label>
    <textarea id="photoDescription" name="description" class="form-control"><%= photo.description %></textarea>
  </div>
  <div class='form-group'>
    <label>Role</label>
    <select id="photoType" name="type" class="form-control">
      <option value="Tile">Tile</option>
      <option value="Banner">Banner</option>
    </select>
  </div>
  <input type="hidden" id="projectId" name="projectid" value="<%= project.projectid %>" />
  <input type="hidden" id="photoId" name="photoid" value="<%= photo.photoid %>"/>
  <input type="button" id="savePhotoBtn" class="btn btn-primary" value="Save Photo">
  <input type="button" class="btn" id="cancelEdit" value="Cancel">
</form>
<script>
  $('#photoform').submit(function(event){
    event.preventDefault();

    var formData = new FormData($(this)[0]);
    $.ajax({
      url:'/admin/savephoto',
      type:'post',
      data: formData,
      dataType:'html',
      processData:false,
      contentType:false,
      success:function(data, success){
        console.log('data: ' + data + ' success: ' + success);
        var dataJson = JSON.parse(data);
        if(dataJson.phototype === 'Tile'){
          var existingPhoto = $('#photoid-' + dataJson.photoid);
          if(existingPhoto.length){
            //if the photo already existed and is just being updated...
            existingPhoto.replaceWith(dataJson.html);
          }
          else{
            //the photo is new, add to table
            $('#photoTable').append(dataJson.html);
          }
        }
        else if(dataJson.phototype === 'Banner'){
          var existingBanner = $('#bannerPhoto');
          if(existingBanner.length){
            existingBanner.replaceWith(dataJson.html);
          } else{
            $('#bannerPhotoContainer').html(dataJson.html);
          }
        }
        cancelEdit();
      },
      error: function(xhr, data, err){
        console.log('error: ' + err);
      }
    });

  });
  $('#savePhotoBtn').click(function(){
    $('#photoform').submit();
  })
  var cancelEdit = function(){
    selectPhotoToEdit({ photoid:'0', url: '', title: '', caption:'', description: '' });
  };
  var selectPhotoToEdit = function(photoToEdit){
    $('#photoId').val(photoToEdit.photoid);
    $('#photoType').val(photoToEdit.type);
    $('#photoTitle').val(photoToEdit.title);
    $('#photoCaption').val(photoToEdit.caption);
    $('#photoDescription').val(photoToEdit.description);
  };
  $('#cancelEdit').click(cancelEdit);
</script>