<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Edit Project</title>
    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->
    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--endbower-->
    <!--inject:css-->
    <link rel="stylesheet" href="/css/style.css">
    <!--endinject-->
    <!--inject:js-->
    <script src="/js/script.js"></script>
    <!--endinject-->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header role="banner">
      <% include ../common/header %>
    </header>
    <script>
      function deletePhoto(photoId){
        if(confirm('Are you sure you want to delete photo?')){
          $.get('/admin/deletephoto/'+photoId, null,
            function(successFlag){ 
              if(successFlag){
                $('#photoid-'+photoId).remove();
              }
              else{
                alert('Could not delete photo, please try again!');
              }
            });
        }
      }
      function selectPhotoToEdit(photo){

      }
    </script>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <% include ../common/adminnav %>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-12" style="text-align:right;">
              <button class="btn btn-primary" id="projectInfoBtn">Project Info</button>
              <button class="btn" id="projectPhotosBtn">Photos</button>
            </div>
          </div>
          <div class="sticky-anchor">
            <div class="row" id="projectInfo">
              <div class="col-sm-8">
                <form action="/admin/saveproject" method="post">
                  <div class='form-group'>
                    <label>Project Name</label>
                    <input class='form-control' type='text' value='<%= project.name %>' name='name'>
                  </div>
                  <div class='form-group'>
                    <label>Description</label>
                    <textarea name="description" class="form-control"><%= project.description %></textarea>
                  </div>
                  <div class='form-group'>
                    <label>Teaser (short description)</label>
                    <input class='form-control' type='text' value='<%= project.teaser %>' name='teaser'>
                  </div>
                  <div class="form-group">
                    <label>
                      <input type="checkbox" name="featured" checked='<%=project.featured %>' /> Featured (will show up on front page)
                    </label>
                  </div>
                  <input type="hidden" name="projectid" value="<%= project.projectid%>" />
                  <input type="submit" class="btn btn-primary" value="Save Project" />
                </form>
              </div>
            </div>
            <div class="row" id="projectPhotos">
              <div class="col-sm-8" style="min-height:1300px;">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Photos</th>
                      <th>Options</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(project.photos && project.photos.length){ %> 
                      <% for(var i = 0; i < project.photos.length; i++){ %> 
                        <% var photo = project.photos[i]; %>
                        <% include ./phototablerow %>
                      <% } %>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-4">
                <div ></div>
                <div class="sticky-top">
                  <% include ./photoform %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <% include ../common/footer %>
    </footer>
    <script type='text/javascript'>
      

      var projectInfoDiv = $('#projectInfo'); 
      var projectPhotosDiv = $('#projectPhotos');
      var projectInfoBtn = $('#projectInfoBtn');
      var projectPhotosBtn = $('#projectPhotosBtn');
      elementsToHideOnLoad.push(projectPhotosDiv);

      var showProjectInfo = function(){
        projectInfoDiv.show();
        projectPhotosDiv.hide();
        checkOrAddClass(projectInfoBtn, 'btn-primary');
        projectPhotosBtn.removeClass('btn-primary');
      };
      var showProjectPhotos = function(){
        projectInfoDiv.hide();
        projectPhotosDiv.show();
        checkOrAddClass(projectPhotosBtn, 'btn-primary');
        projectInfoBtn.removeClass('btn-primary');
      };

      projectInfoBtn.click(showProjectInfo);
      projectPhotosBtn.click(showProjectPhotos);

    </script>
  </body>
</html>